<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
<meta charset="UTF-8">
<!-- ポイント１：Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>SignUp</title>
</head>
<body>
	<!-- col-sm-5：画面サイズに応じてカラムの割合を変更 -->
	<!-- sm：スマホサイズ、md：タブレットサイズ -->
	<div class="col-sm-5">

		<!-- page-header：ページヘッダーに最適なスタイル（適切なスペースと区切り線）-->
		<!-- ルール：class属性にpage-headerを指定したdivで、h1を括る -->
		<div class="page-header">
			<h1>ユーザー登録画面</h1>
		</div>

		<!-- ここからフォーム・th:objectの有効範囲(th:fieldでオブジェクト名を省略可) -->
		<!-- th:action：リクエスト先の指定 -->
		<!-- action = "/signup"でも問題ないが、Springセキュリティを使う場合、th:action属性を使う -->
		<!-- th:object：Modelに登録されているオブジェクトを受け取る。（ = 白紙の登録用紙をセット） -->
		<form method="post" action="/signup" th:object="${signupForm}">

			<!-- table-bordered：テーブルの各セルにボーダーをつける -->
			<!-- table-hover：テーブルの列にマウスを乗せた際に背景色を変更する -->
			<table class="table table-bordered table-hover">

				<!-- ========= -->
				<!-- ユーザーID -->
				<!-- ========= -->
				<tr>
					<!-- active：行に色をつける。activeは薄グレー -->
					<!-- col-sm-3：画面サイズに応じてカラムの割合を変更 -->
					<!-- sm：スマホサイズ、md：タブレットサイズ -->
					<th class="active col-sm-3">ユーザーID</th>
					<td>
						<!-- form-group：入力部品のグループにつける --> <!-- th:classappend：右辺の意味は「エラー時だけ（?より左がture）、class属性にhas-errorを追加（?より右） -->
						<!-- has-errorはBootstrapのclassで、テキストボックス枠を赤くする -->
						<div class="form-group"
							th:classappend="${#fields.hasErrors('userId')}?'has-error'">

							<!-- form-group：入力部品そのものにつける -->
							<!-- th:field：値の取得・送信 （オブジェクト内のフィールドに対応）-->
							<input type="text" class="form-control" th:field="*{userId}" />

							<!-- 個別にエラーメッセージを表示する -->
							<!-- th:if：条件式を設定。trueの場合、th:errors属性で書くフィールドのエラーメッセージを表示する -->
							<!-- class = "text-danger"：赤色の文字 -->
							<span class="text-danger" th:if="${#fields.hasErrors('userId')}"
								th:errors="*{userId}">ここにエラー文が入る</span>
						</div>
					</td>
				</tr>

				<!-- ========= -->
				<!-- パスワード -->
				<!-- ========= -->
				<tr>
					<!-- active：行に色をつける。activeは薄グレー -->
					<th class="active">パスワード</th>
					<td>
						<!-- form-group：入力部品のグループにつける --> <!-- th:classappend：右辺の意味は「エラー時だけ（?より左がture）、class属性にhas-errorを追加（?より右） -->
						<!-- has-errorはBootstrapのclassで、テキストボックス枠を赤くする -->
						<div class="form-group"
							th:classappend="${#fields.hasErrors('password')}?'has-error'">

							<!-- form-group：入力部品そのものにつける -->
							<!-- th:field：値の取得・送信 （オブジェクト内のフィールドに対応）-->
							<input type="text" class="form-control" th:field="*{password}" />

							<!-- 個別にエラーメッセージを表示する -->
							<!-- th:if：条件式を設定。trueの場合、th:errors属性で書くフィールドのエラーメッセージを表示する -->
							<!-- class = "text-danger"：赤色の文字 -->
							<span class="text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}">ここにエラー文が入る</span>


						</div>
					</td>
				</tr>

				<!-- ========= -->
				<!-- ユーザー名 -->
				<!-- ========= -->
				<tr>
					<!-- active：行に色をつける。activeは薄グレー -->
					<th class="active">ユーザー名</th>
					<td>
						<!-- form-group：入力部品のグループにつける --> <!-- th:classappend：右辺の意味は「エラー時だけ（?より左がture）、class属性にhas-errorを追加（?より右） -->
						<!-- has-errorはBootstrapのclassで、テキストボックス枠を赤くする -->
						<div class="form-group"
							th:classappend="${#fields.hasErrors('userName')}?'has-error'">

							<!-- form-control：入力部品そのものにつける -->
							<!-- th:field：値の取得・送信 （オブジェクト内のフィールドに対応）-->
							<input type="text" class="form-control" th:field="*{userName}" />

							<!-- 個別にエラーメッセージを表示する -->
							<!-- th:if：条件式を設定。trueの場合、th:errors属性で書くフィールドのエラーメッセージを表示する -->
							<!-- class = "text-danger"：赤色の文字 -->
							<span class="text-danger"
								th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">ここにエラー文が入る</span>

						</div>
					</td>
				</tr>

				<!-- ========= -->
				<!-- 誕生日 -->
				<!-- ========= -->
				<tr>
					<!-- active：行に色をつける。activeは薄グレー -->
					<th class="active">誕生日</th>
					<td>
						<!-- form-group：入力部品のグループにつける --> <!-- th:classappend：右辺の意味は「エラー時だけ（?より左がture）、class属性にhas-errorを追加（?より右） -->
						<!-- has-errorはBootstrapのclassで、テキストボックス枠を赤くする -->
						<div class="form-group"
							th:classappend="${#fields.hasErrors('birthday')}?'has-error'">

							<!-- form-group：入力部品そのものにつける -->
							<!-- th:field：値の取得・送信 （オブジェクト内のフィールドに対応）-->
							<input type="text" class="form-control" placeholder="yyyy/MM/dd"
								th:field="*{birthday}" />

							<!-- 個別にエラーメッセージを表示する -->
							<!-- th:if：条件式を設定。trueの場合、th:errors属性で書くフィールドのエラーメッセージを表示する -->
							<!-- class = "text-danger"：赤色の文字 -->
							<span class="text-danger"
								th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">ここにエラー文が入る</span>

						</div>
					</td>
				</tr>
				<!-- ========= -->
				<!-- 年齢 -->
				<!-- ========= -->
				<tr>
					<!-- active：行に色をつける。activeは薄グレー -->
					<th class="active">年齢</th>
					<td>
						<!-- form-group：入力部品のグループにつける --> <!-- th:classappend：右辺の意味は「エラー時だけ（?より左がture）、class属性にhas-errorを追加（?より右） -->
						<!-- has-errorはBootstrapのclassで、テキストボックス枠を赤くする -->
						<div class="form-group"
							th:classappend="${#fields.hasErrors('age')}?'has-error'">

							<!-- form-group：入力部品のグループにつける -->
							<!-- th:field：値の取得・送信 （オブジェクト内のフィールドに対応）-->
							<input type="text" class="form-control" th:field="*{age}" />

							<!-- 個別にエラーメッセージを表示する -->
							<!-- th:if：条件式を設定。trueの場合、th:errors属性で書くフィールドのエラーメッセージを表示する -->
							<!-- class = "text-danger"：赤色の文字 -->
							<span class="text-danger" th:if="${#fields.hasErrors('age')}"
								th:errors="*{age}">ここにエラー文が入る</span>

						</div>
					</td>
				</tr>

				<!-- ========= -->
				<!-- 結婚 -->
				<!-- ========= -->
				<tr>
					<!-- active：行に色をつける。activeは薄グレー -->
					<th class="active">結婚</th>
					<td>
						<!-- form-group：入力部品のグループにつける --> <!-- th:classappend：右辺の意味は「エラー時だけ（?より左がture）、class属性にhas-errorを追加（?より右） -->
						<!-- has-errorはBootstrapのclassで、テキストボックス枠を赤くする -->
						<div class="form-group"
							th:classappend="${#fields.hasErrors('marriage')}?'has-error'">

							<!-- ラジオボタンを実装するにはth:each属性 -->
							<!-- th:each=”<属性名＞:${<ModelAttributeのキー名>}" -->
							<!-- ∟ Modelに登録されている値が繰り返し呼び出される -->
							<!-- ☆th:each属性がついているdivタグの中では、item(変数名)を使うことができる -->
							<!-- ☆中身はSignupControllerクラスで取得したMapが入っている -->
							<div th:each="item:${radioMarriage}">

								<!-- th:text：画面に表示される文字列を指定 -->
								<!-- ☆Mapクラスのkey値（既婚・未婚）を表示 -->
								<!-- th:value：画面からControllerクラスに送る値を指定。 -->
								<!-- ☆Mapクラスのvalue(true,false)を送る-->
								<!-- th:field：値の取得・送信 （オブジェクト内のフィールドに対応）-->
								<input type="radio" name="radioMarriage" th:text="${item.key}"
									th:value="${item.value}" th:field="*{marriage}">

								<!-- 個別にエラーメッセージを表示する -->
								<!-- th:if：条件式を設定。trueの場合、th:errors属性で書くフィールドのエラーメッセージを表示する -->
								<!-- class = "text-danger"：赤色の文字 -->
								<span class="text-danger"
									th:if="${#fields.hasErrors('marriage')}"
									th:errors="*{marriage}">ここにエラー文が入る</span>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<!-- エラーメッセージの一覧表示 -->
			<ul>
				<li th:each="error :${#fields.detailedErrors()}"><span
					th:text="${error.message}">Error message</span></li>
			</ul>
			<!-- ユーザー登録ボタン -->
			<!-- btn：ボタン、btn-primary：青色 -->
			<button class="btn btn-primary" type="submit">ユーザー登録</button>
		</form>
	</div>
</body>
</html>